[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
python-dotenv = "*"
flask-bcrypt = "*"
requests = "*"
flask-dotenv = "*"
ipfshttpclient = "==0.8.0a1"
pycryptodomex = "*"

[dev-packages]

[requires]
python_version = "3.10"
